<section class="information">
  <main>
  <h1>プライバシーポリシー</h1>
  「https://freegame.link/」（以下、当サイト）は、利用者の個人情報をお預かりするにあたり、以下のとおり個人情報保護方針を定め、個人情報保護の仕組みを構築します。

  <h3>個人情報の収集について</h3>
  <p>
  利用者は匿名のままで、当サイトを自由に閲覧する事ができますが、ゲーム情報のレビュー投稿やお問合せ等、場合によっては、利用者の氏名やメールアドレス、プロフィール画像等の個人情報を収集いたします。当サイトは、収集した個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示・共有することは一切ありません。
  <ul>
    <li>法令に基づき開示することが必要である場合で、利用者の承諾を得られた場合</li>
  </ul>
  </p>

  <h3>広告の配信について</h3>
  <p>
  当サイトでは、第三者配信の広告サービス（A8.net、Access trade、Janet、Amazonアソシエイト）を利用しています。このような広告配信事業者は、利用者の興味に応じた商品やサービスの広告を表示するため、当サイトや他サイトへのアクセスに関する情報 『Cookie』(氏名、住所、メール アドレス、電話番号は含まれません) を使用することがあります。
  </p>

  <h3>ウェブサーバの記録</h3>
  <p>
  当サイトのウェブサーバは、利用者のコンピュータのIPアドレスを自動的に収集・記録しますが、これらは利用者個人を特定するものではありません。
  </p>

  <h3>当サイトへのレビュー投稿について</h3>
  <p>
  当サイトでは、スパム・荒らしへの対応として、投稿の際に使用されたIPアドレスを記録しています。スパム・荒らしへの対応以外にこのIPアドレスを使用することはありません。
  <br>
  なお、全ての投稿は管理人がその内容を確認できることをあらかじめご了承下さい。次に掲げる内容を含む投稿は管理人の裁量によって不適切と判断した場合、削除する事があります。
  <ol>
    <li>特定の自然人または法人を誹謗し、中傷するもの。</li>
    <li>極度にわいせつな内容を含むもの。</li>
    <li>禁制品の取引に関するものや、他者を害する行為の依頼など、法律によって禁止されている物品、行為の依頼や斡旋などに関するもの。</li>
    <li>その他、公序良俗に反し、または管理人によって承認すべきでないと認められるもの。</li>
  </ol>
  </p>

  <h3>免責事項</h3>
  <p>
  利用者は、当サイトを閲覧し、その内容を参照した事によって何かしらの損害を被った場合でも、当サイト管理者は責任を負いません。また、当サイトからリンクされた、当サイト以外のウェブサイトの内容やサービスに関して、当サイトの個人情報の保護についての諸条件は適用されません。 当サイト以外のウェブサイトの内容及び、個人情報の保護に関しても、当サイト管理者は責任を負いません。
  </p>
  </main>
</section>
