/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.admin th {
  padding: 0.5em;
  background-color: #CCDDEE;
}
.admin td {
  padding: 0.5em;
  background-color: #DDDDDD;
}

.admin_flex {
  display: flex;
}
.admin_flex div:first-child {
  margin-right: 20px;
}

#rp_main_section {
  margin: 0 14px 0 14px;
}

.rp_main_image {
  max-width: 100%;
}

#admin_user {
  background-color: #DDEEFF;
  color: #003399;
}
#notice {
  background-color: #DDFFCC;
  color: #009933;
}
#error_explanation {
  background-color: #FFDDEE;
  color: #DD0033;
  margin: 14px 0;
  padding: 0 2px;
}
