<h1>Admin</h1>
<p>
This is main menu for administrator of game link website.
</p>

<h3>Select Menu</h3>
<ul>
  <li><%= link_to 'Manage Games', admin_games_path %></li>
  <li><%= link_to 'Logout', admin_admin_login_path %></li>
</ul>
